{% extends 'layouts/default.jinja2' %}

{% block title %}Index{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
    <div id="content"></div>
    <script
        src="{{ req.static_url('pcp:static/js/main.js', _scheme=None) }}"
        data-data="{{ data|jsonify }}"
        data-errors="{{ errors|d({})|jsonify }}"
        data-target="#content"
    ></script>
{% endblock %}
